@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	height:100vh;
}

header{
	text-align:center;
}

main section{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

form div{
	display:flex;
}